.text-decoration-none {
  text-decoration: none;
}

.reset-button-styles {
  background: none;
  padding: 0;
  outline: 0;
  border: 0;
}


.svg-icon {
  display: flex;
  width: 10%;
  color: #fff;
  font-size: 24px;
  margin-right: 1.5em;
}

.svg-icons {
  display: flex;
  text-align: center;
}

.svg-icon--mask {
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}